@charset "UTF-8";

/**
 *
 */

body {
  --color-dark-lighten-2: #4b3b60;
}

.rarity-1 {
  color: var(--rarity1);
}

.rarity-2 {
  color: var(--rarity2);
}

.rarity-3 {
  color: var(--rarity3);
}

.rarity-4 {
  color: var(--rarity4);
}

.rarity-5 {
  color: var(--rarity5);
}

.rarity-6 {
  color: var(--rarity6);
}

.rarity-7 {
  color: var(--rarity7);
}

.rarity-8 {
  color: var(--rarity8);
}

.rarity-9 {
  color: var(--rarity9);
}

.rarity-10 {
  color: var(--rarity10);
}

.fa:not(.-desize),
.fab:not(.-desize),
.fal:not(.-desize),
.far:not(.-desize),
.fas:not(.-desize) {
  font-size: 14px;
}

.badge[role=button] {
  cursor: pointer;
}

.badge[role=info] {
  cursor: default;
}

.card figure.-icon {
  height: 66%;
  text-align: center;
}

.card figure.-icon i {
  font-size: 10rem;
  color: #a59cae;
}

.card figure.-icon a {
  padding: 20px;
}

.card figure.-icon a i {
  transition: all 250ms ease-in-out;
}

.card figure.-icon a:hover i {
  transform: scale(1.025) rotate(-5deg);
}

.card figure.-gradient-1 a,
.card figure.-gradient-2 a,
.card figure.-gradient-3 a,
.card figure.-gradient-4 a {
  display: block;
}

.card figure.-gradient-1 a::after,
.card figure.-gradient-2 a::after,
.card figure.-gradient-3 a::after,
.card figure.-gradient-4 a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  content: "";
  transition: all 250ms ease-in-out;
}

.card figure.-gradient-1 a:hover::after,
.card figure.-gradient-2 a:hover::after,
.card figure.-gradient-3 a:hover::after,
.card figure.-gradient-4 a:hover::after {
  opacity: 1;
}

.card figure.-gradient-1 a {
  background: linear-gradient(45deg, rgba(165, 156, 174, 0.1) 0%, rgba(255, 13, 13, 0.1) 100%);
}

.card figure.-gradient-1 a::after {
  background: linear-gradient(90deg, rgba(165, 156, 174, 0.1) 0%, rgba(255, 13, 13, 0.1) 100%);
}

.card figure.-gradient-2 a {
  background: linear-gradient(45deg, rgba(165, 156, 174, 0.1) 0%, rgba(106, 59, 192, 0.1) 100%);
}

.card figure.-gradient-2 a::after {
  background: linear-gradient(90deg, rgba(165, 156, 174, 0.1) 0%, rgba(106, 59, 192, 0.1) 100%);
}

.card figure.-gradient-3 a {
  background: linear-gradient(45deg, rgba(165, 156, 174, 0.1) 0%, rgba(0, 255, 91, 0.1) 100%);
}

.card figure.-gradient-3 a::after {
  background: linear-gradient(90deg, rgba(165, 156, 174, 0.1) 0%, rgba(0, 255, 91, 0.1) 100%);
}

.card figure.-gradient-4 a {
  background: linear-gradient(45deg, rgba(165, 156, 174, 0.1) 0%, rgba(255, 180, 0, 0.1) 100%);
}

.card figure.-gradient-4 a::after {
  background: linear-gradient(90deg, rgba(165, 156, 174, 0.1) 0%, rgba(255, 180, 0, 0.1) 100%);
}

.clear-filters:first-child:last-child a {
  color: var(--warning);
}

body {
  --rarity1: #ffffff;
  --rarity2: #7bd512;
  --rarity3: #78d4ff;
  --rarity4: #e55ffc;
  --rarity7: #fe82ac;
  --color-ilvl: #c15e57;
  --color-recipes: #578bc6;
  --color-equipment: #cb8a21;
}

body .sublevel-icon::before {
  content: "\2605";
}

