body {
	// SCSS and CSS Variables don't mix.  Workaround: --color: #{ $color };
	--rarity1: #{ $dark };
	--rarity2: #{ darken(#c4f58b, 30%) };
	--rarity3: #78d4ff;
	--rarity4: #e55ffc;
	--rarity7: #fe82ac;

	--color-ilvl: #{ darken(#cf827c, 10%) };
	--color-recipes: #{ darken(#7da5d3, 10%) };
	--color-equipment: #cb8a21;

	.sublevel-icon {
		&:before {
			content: "★";
		}
	}
}
