.badge {
	&[role=button] {
		cursor: pointer;
	}
	&[role=info] {
		cursor: default;
	}
}

.badge-recipe {
	background-color: var(--color-recipes);
	> img {
		width: 22px;
		position: absolute;
		left: 0;
	}
}
