#filtration {
	position: relative;
	// z-index: 1040; // 10 above navbar
	display: flex;
	flex-wrap: wrap;
	margin: .5rem 0;
	> span, > div {
		flex-grow: inherit;
		// flex-basis: 100px;
		white-space: nowrap;
		margin-bottom: .5rem;
	}
	.filter {
		position: relative;
		margin-right: 4px;

		transition: all 100ms;

		button {
			outline: none;
			box-shadow: none;
			cursor: default;
		}
		label, input, .delete, .reveal {
			transition: all 250ms;
		}
		label {
			display: inline-block;
			margin: 0;
			overflow: hidden;
			white-space: nowrap;
			vertical-align: bottom;

			max-width: 0px;
		}
		input {
			width: 25px;
			padding: 0;
			border-width: 0;
			border-bottom: 1px solid $light;
			text-align: center;
			line-height: 1;
			color: $gray-500;
			outline: none;
			background-color: transparent;

			&:focus {
				color: $dark;
			}

			// Hide the numeric spinner
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
			// Hide the datalist dropdown
			&::-webkit-calendar-picker-indicator {
				display: none;
			}
		}
		// input[type=number] {
		// }
		.delete {
			position: absolute;
			z-index: 5;
			right: 0;
			top: 0;
			font-size: .75rem;
			line-height: 0;
			border: none;
			// border: 1px solid $light;
			background-color: $white;
			border-radius: 0 50% 50% 0;
			padding: .375rem;
			opacity: 0;
			color: var(--secondary);
			cursor: pointer;
			&:hover {
				color: var(--danger);
			}
		}
		&.-enabled {
		}
		&.-single {
			.values {
				input {
					// transform: rotate(-45deg);
					margin: 0 -8px;
					border-bottom-width: 0;
					// position: relative;
					// top: -1px;
				}
			}
		}
		&.-range {
			.values {
				i {
					max-width: 0px;
					overflow: hidden;
					font-size: .75rem;
				}
				input {
					font-size: .75rem;
					line-height: .5;
					transform: rotate(-45deg);
					margin: 0 -8px;
					border-bottom-width: 0;
					position: relative;
					top: -1px;
				}
			}
		}
		&.-special {
			.values {
				> img {
					@include moveUp(1);
				}
			}
			.multiple {
				color: #FFFCCB;
				text-shadow: 1px 1px 2px #CDAD85;
				@include moveDown(5);
				margin-left: -8px;
				font-size: .9rem;
			}
			.delete {
				// 49 min width, -22 element width
				left: 27px;
				right: inherit;
			}
			.extra {
				position: absolute;
				z-index: -1;
				left: 0;
				top: 0;

				width: 49px;
				max-height: 0;
				overflow: hidden;
				transition: max-height 200ms, width 250ms;

				padding: 0 .25rem;

				background-color: $white;
				border-radius: .25rem;

				> div {
					display: grid;
					grid-template-columns: repeat(5, 1fr);
					gap: 4px 4px;
					margin-bottom: 8px;
					opacity: 0;
					&:last-child {
						margin-bottom: 0;
					}
				}

				input[type=checkbox] {
					+ label.badge {
						color: $white;
						background-color: var(--secondary);
						cursor: pointer;
						transition: all 200ms;
						&::selection {
							background: transparent;
						}
					}
					&:checked {
						+ label.badge {
							background-color: var(--primary);
						}
					}
				}
			}
			&.-rarity {
				.extra {
					label {
						cursor: pointer;
						text-align: center;
						display: inherit;
						position: relative;
						i {
							font-size: 34px;
						}
					}
					input[type=checkbox] {
						&:not(:checked) {
							+ label {
								i {
									color: $gray-400;
								}
							}
						}
					}
				}
			}
		}
		&.-active {
			position: relative;
			z-index: 6;
			label {
				max-width: 110px;
			}
			i.reveal {
				max-width: 20px;
			}
			.delete {
				opacity: 1;
				right: -21px;
				box-shadow: 2px 2px 2px -2px $dark;
			}
			.values {
				input {
					border-bottom: 1px solid $dark;
					color: $dark;
				}
			}
			&.-enabled {
				label {
					padding-left: 4px;
				}
			}
			&.-single {
				.values {
					input {
						margin: 0;
					}
				}
			}
			&.-range {
				.values {
					input {
						font-size: inherit;
						transform: rotate(0deg);
						margin: 0;
						border-bottom-width: 1px;
						top: 0;
					}
				}
			}
			&:not(.-special) {
				> .btn:not(.-delete) {
					box-shadow: 2px 2px 2px -2px$dark;
				}
			}
			&.-special {
				.delete {
					// .classes is 200px wide
					// element is ~22px wide
					left: 197px;
				}
				.extra {
					box-shadow: 2px 2px 2px -2px $dark;

					width: 200px;
					max-height: 600px;
					padding-top: 42px;
					padding-bottom: .375rem;

					> div {
						opacity: 1;
						transition: opacity 100ms 100ms;
					}
				}
			}
		}
	}
}

#name-filter {
	.input-group {
		flex-wrap: nowrap;
	}
	input {
		min-width: 95px;
		max-width: 300px;
		transition: width .1s;
	}

	.dropdown-menu.show {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 0;
		.dropdown-item {
			padding: 8px;
			text-align: center;
			i {
				font-size: 1.5em;
				@include moveDown(2);
			}
		}
	}
}

#select-filters {
	.dropdown-item {
		i {
			min-width: 20px;
			text-align: center;
		}
	}
}

#additional-filters {
	> span {
		flex-grow: inherit;
		flex-basis: 100px;
	}
}

#results {
	@include max-width('md') {
		.compendium-item {
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
	}
	@include min-width('lg') {
		// Always fill a 3x5 grid
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(5, 1fr);
		gap: 8px 8px;
	}
}
