.product__item {
	&.-scroll {
		.posts__cat {
			overflow: initial;
		}
		.posts__cat-label {
			font-size: .7rem;
			&.-heart i {
				font-size: .6rem;
			}
		}
		.author-block {
			font-size: .8rem;
			line-height: 1.25rem;
		}
		.btn.-heart {
			padding: 12px 24px;
			i {
				position: relative;
				top: 1px;
			}
		}
	}
}
