.card {
	&.-alpha {
		max-height: 200px;
	}
}

.major-media,
.minor-media {
	position: relative;

	overflow: hidden;
	height: 200px;

	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );

	> img {
		position: absolute;
		left: 0;
		top: -50%;
		z-index: 0;

		min-width: 100%;
		min-height: 200px;

		opacity: .5;
	}

	> .text {
		text-align: center;
		margin: 0 auto;

		position: relative;
		z-index: 1;
		top: 50%;
		transform: translateY(-50%);

		> h1 {
			font-family: stylishFont();
		}
	}

}

.minor-media {
	height: 100px;
	> img {
		min-height: 100px;
	}
}
