.md-icon {
	&.-xsmall {
		$size: 16px;
		font-size: $size !important;
		width: $size;
		height: $size;
		min-width: $size;
	}
	&.-small {
		$size: 20px;
		font-size: $size !important;
		width: $size;
		height: $size;
		min-width: $size;
	}
}

.svg-icon {
	display: inline-block;
	$size: 24px;
	width: $size;
	height: $size;
}
